<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>jp.aeyesec.ClamdScheduledScan</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/malware_monitor_wrapper</string>
		<string>scan</string>
	<string></string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
            <integer>3</integer>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Weekday</key>
            <integer>3</integer>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>StandardErrorPath</key>
	<string>/var/log/clamav/clamd.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/clamav/clamd.log</string>
</dict>
</plist>